<div class="col-md-6">
<table class="table table-striped">
            <thead>
              <tr>               
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" #fname></td>
                 <td><input type="text" #lname></td>
                  <td><input type="text" #username></td>               
                <td><button (click)="addUser(fname.value,lname.value,username.value)" class="btn btn-success"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button></td>
              </tr>

            </tbody>
          </table>
</div>

<div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dataList">
                <td>{{data.id}}</td>
                <td>{{data.fname}}</td>
                <td>{{data.lname}}</td>
                <td>{{data.username}}</td>
                <td><button class="btn btn-danger"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
              </tr>

            </tbody>
          </table>
        </div>
